.Chats {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
}
.ChatContainer {
  margin: 1.2rem 0;
  max-width: 80%;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, #d8d519be, #bdc27b);
  position: relative;
}
.ChatContainer.is-user-msg {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #2b2c33;
  margin-left: auto;
}
.ChatContainer.is-user-msg:hover .deleteButton {
  display: block;
}
.Chat {
  color: #fff;
  padding: 1rem;
}
a {
  display:block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size: 16px;
  font-weight: bold;
}
.deleteButton {
  display: none;
  width: 26px;
  height: 26px;
  padding: 0;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: -12px;
}
.deleteButton:hover .deleteButton {
  display: block;
}

@media (min-width: 576px) {
  .Chat {
    max-width: 60%;
  }
}